 <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary" style="position: absolute">

    <span>Docker Lab - {{web_host}} </span>
    <span style="cursor: pointer" (click)="sair()" >Logout</span>

</mat-toolbar>

<div fxFill fxLayout="row" fxLayoutAlign="center center">
    <div fxFill fxLayout="column" fxLayoutAlign="center center">
        <span class="mb40 titulo-home">Bem-vindo <span class="nome">{{user.usuario}} !</span>, clique no botao para gerar uma imagem!</span>
        <img width="500px" [src]="imagem" alt="">
        <p *ngIf="server_img">Server: {{server_img}}</p>
        <button (click)="gerarImagem()" class="mt20" mat-raised-button color="accent">
            Gerar Imagem
        </button>
    </div>
</div> 

